<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@ViewBag.Title</title>
	<!-- Font Awesome -->
	@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">*@

	<link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
	<!-- Bootstrap core CSS -->
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Material Design Bootstrap -->
	<link href="~/lib/MDB-Pro_4.19.1/css/mdb.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css" rel="stylesheet" />

	<!-- Your custom styles (optional) -->
	<link href="~/lib/MDB-Pro_4.19.1/css/mdb-rtl.css" rel="stylesheet" />
	<link href="~/css/StyleAdmin.css" rel="stylesheet" />
	<style>
	</style>

</head>
<body dir="rtl" class="fixed-sn light-blue-skin rtl">

	<!--Double navigation-->
	<header>

		<!-- Navbar -->

		<nav class="mb-1 navbar navbar-expand-lg navbar-dark blue-gradient">
			<div class="float-right">
				<a href="#" data-activates="slide-out" class="btn btn-secondary button-collapse"><i class="fa fa-bars"></i></a>
			</div>
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
					aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto nav-flex-icons mx-5">

					<li class="nav-item dropdown mx-5">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-left dropdown-info"
						     aria-labelledby="navbarDropdownMenuLink-333">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
				</ul>
				<span class="navbar-text">Admin App</span>
			</div>
		</nav>

		<!-- /.Navbar -->

		<!-- Sidebar navigation -->
		<div id="slide-out" class="side-nav2 blue-gradient">
			<ul class="custom-scrollbar">
				<!-- Logo -->
				<li>
					<div class="logo-wrapper waves-light">
						<a href="#">
							@*<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center">
							<img src="~/images/System-icon.png" id="logo" style="width: 261px; height: 91px;" />
						<img src="~/images/Administrative-Tools-icon.png" class="img-fluid flex-center" />

						<img src="~/images/Admin-icon.png"  style="width: 261px; height: 91px;" />*@

							<img src="~/images/logo.png" id="logo" />
						</a>

					</div>
				</li>
				<!--/. Logo -->
				<!--Social-->
				<!--/Social-->
				<!--Search Form-->
				<!--/.Search Form-->
				<!-- Side navigation links -->
				<li>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class="collapsible-header waves-effect arrow-r">
								<i class="fas fa-chevron-right notCollapsible"></i>کاربران<i class="fas fa-angle-down rotate-icon"></i>
							</a>
							<div class="collapsible-body">
								<ul>
									<li>
										<a href="#" class="waves-effect">لیست کاربران</a>
									</li>
									<li>
										<a href="#" class="waves-effect">لیست کارمندان</a>
									</li>
									<li>
										<a href="#" class="waves-effect">تغییر رمز عبور کارمندان</a>
									</li>
									<li>
										<a href="#" class="waves-effect">تغییر رمز عبور کاربران</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect arrow-r">
								<i class="far fa-hand-pointer notCollapsible"></i>نقش ها<i class="fas fa-angle-down rotate-icon"></i>
							</a>
							<div class="collapsible-body">
								<ul>
									<li>
										<a href="#" class="waves-effect">تعریف نقش</a>
									</li>
									<li>
										<a href="#" class="waves-effect">کاربران و نقش ها</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect arrow-r">
								<i class="fas fa-eye notCollapsible"></i> فعالیت ها<i class="fas fa-angle-down rotate-icon"></i>
							</a>
							<div class="collapsible-body">
								<ul>
									<li>
										<a href="#" class="waves-effect">تعریف فعالیت</a>
									</li>
									<li>
										<a href="#" class="waves-effect">نقش ها و فعالیت ها</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect arrow-r">
								<i class="far fa-envelope notCollapsible"></i> گروه ها<i class="fas fa-angle-down rotate-icon"></i>
							</a>
							<div class="collapsible-body">
								<ul>
									<li>
										<a href="#" class="waves-effect">گروه کاربری</a>
									</li>
									<li>
										<a href="#" class="waves-effect">گروه نقش ها</a>
									</li>
									<li>
										<a href="#" class="waves-effect">گروه فعالیت ها</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<!--/. Side navigation links -->
			</ul>
			<div class="sidenav-bg blue-gradient"></div>
		</div>
		<!--/. Sidebar navigation -->

	</header>
	<!--/.Double navigation-->

	<!--Main Layout-->
	<main>
		<div class="container">
			@RenderBody()
		</div>

	</main>
	<!-- Main layout -->
	<!-- Footer -->
	<footer class="page-footer pt-0 mt-5">

		<!-- Copyright -->
		<div class="footer-copyright py-3 text-center">
			<div class="container-fluid">
				© 2020 Copyright: Alireza Omidi

			</div>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
	<!-- SCRIPTS -->
	<!-- JQuery -->
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
	<script src="~/lib/MDB-Pro_4.19.1/js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script src="~/lib/MDB-Pro_4.19.1/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

	@*<script src="~/lib/MDB-Pro_4.19.1/js/bootstrap.min.js"></script>*@
	<!-- MDB core JavaScript -->
	<script src="~/lib/MDB-Pro_4.19.1/js/mdb.min.js"></script>

	<script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
	<!-- Custom scripts -->
	<script>
		$(function () {


			// SideNav Initialization
			//$(".button-collapse").sideNav();
			$(".button-collapse").sideNav2({
				edge: 'right',
				breakpoint: 1200
			});

			//$(".button-collapse").sideNav2();

			var container = document.querySelector('.custom-scrollbar');


			// ReSharper disable once UnusedLocals
			var ps = new PerfectScrollbar(container,
				{
					wheelSpeed: 2,
					wheelPropagation: true,
					minScrollbarLength: 20
				});

		});

	</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
