<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@ViewBag.Title</title>
	<!-- Font Awesome -->
	@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">*@

	<link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
	<!-- Bootstrap core CSS -->
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css" rel="stylesheet" />
	<!-- Material Design Bootstrap -->
	<link href="~/lib/MDB-Pro_4.19.1/css/mdb.css" rel="stylesheet" />

	<!-- Your custom styles (optional) -->
	<link href="~/css/StyleAdmin.css" rel="stylesheet" />
	<style>
		</style>

</head>
<body class="fixed-sn light-blue-skin rtl">

	<!--Double navigation-->
<header>

	<!-- Navbar -->
	<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg double-nav">
		<div class="float-right">
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
		</div>

		<div class="container">
			<!-- SideNav slide-out button -->
			<!-- Breadcrumb-->
			<div class="breadcrumb-dn mr-auto">
				<p>Administrative Issues</p>
			</div>

			<ul class="nav navbar-nav nav-flex-icons ">

				<li class="nav-item">
					<a class="nav-link"><i class="fa fa-book"></i> <span class="clearfix d-none d-sm-inline-block">صفحه اصلی</span></a>
				</li>
				<li class="nav-item dropdown mr-5">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">پروفایل</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">خروج</a>
						<a class="dropdown-item" href="#">نمایش پروفایل</a>
					</div>
				</li>

			</ul>
		</div>
	</nav>
	<!-- /.Navbar -->

	<!-- Sidebar navigation -->

	<div id="slide-out" class="side-nav fixed blue-grey darken-3 ">
			<ul class="custom-scrollbar">
			<!-- Logo -->
			<li>
				<div class="logo-wrapper waves-light">
					<a href="#">
						<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center">
					</a>
				</div>
			</li>
			<!--/. Logo -->
			<!--Social-->
			<!--/Social-->
			<!--Search Form-->
			<li>
				<form class="search-form" role="search">
					<div class="form-group md-form mt-0 pt-1 waves-light">
						<input type="text" class="form-control" placeholder="جستجو">
					</div>
				</form>
			</li>
			<!--/.Search Form-->
			<!-- Side navigation links -->
			<li>
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="fas fa-chevron-right notCollapsible"></i>کاربران<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="#" class="waves-effect">لیست کاربران</a>
								</li>
								<li>
									<a href="#" class="waves-effect">لیست کارمندان</a>
								</li>
								<li>
									<a href="#" class="waves-effect">تغییر رمز عبور کارمندان</a>
								</li>
								<li>
									<a href="#" class="waves-effect">تغییر رمز عبور کاربران</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="far fa-hand-pointer notCollapsible"></i>نقش ها<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="#" class="waves-effect">تعریف نقش</a>
								</li>
								<li>
									<a href="#" class="waves-effect">کاربران و نقش ها</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="far fa-eye notCollapsible"></i> فعالیت ها<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="#" class="waves-effect">تعریف فعالیت</a>
								</li>
								<li>
									<a href="#" class="waves-effect">نقش ها و فعالیت ها</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="far fa-envelope notCollapsible"></i>گروه ها<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="#" class="waves-effect">گروه کاربری</a>
								</li>
								<li>
									<a href="#" class="waves-effect">گروه نقش ها</a>
								</li>
								<li>
									<a href="#" class="waves-effect">گروه فعالیت ها</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<!--/. Side navigation links -->
		</ul>
		<div class="sidenav-bg mask-strong"></div>
	</div>
	<!--/. Sidebar navigation -->
</header>
	<!--/.Double navigation-->
	<!--Main Layout-->
<main>
	<div class="container">
		@RenderBody()
	</div>

</main>
<!-- Main layout -->
<!-- Footer -->
<footer class="page-footer pt-0 mt-5">

	<!-- Copyright -->
	<div class="footer-copyright py-3 text-center">
		<div class="container-fluid">
			© 2020 Copyright: Alireza Omidi

		</div>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->
<!-- SCRIPTS -->
<!-- JQuery -->
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/lib/MDB-Pro_4.19.1/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/lib/MDB-Pro_4.19.1/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

@*<script src="~/lib/MDB-Pro_4.19.1/js/bootstrap.min.js"></script>*@
<!-- MDB core JavaScript -->
<script src="~/lib/MDB-Pro_4.19.1/js/mdb.min.js"></script>

<script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
<!-- Custom scripts -->
<script>
	$(function() {


		// SideNav Initialization
		//$(".button-collapse").sideNav();
		$(".button-collapse").sideNav({
			edge: 'right',
			breakpoint: 1200
		});
		var container = document.querySelector('.custom-scrollbar');
		var ps = new PerfectScrollbar(container,
			{
				wheelSpeed: 2,
				wheelPropagation: true,
				minScrollbarLength: 20
			});
	});

</script>
@RenderSection("Scripts", required: false)
</body>
</html>
