@page
@model AdminApp.Mvc.Areas.Administrator.Views.Shared.ErrorModel

@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>https://mdbootstrap.com/docs/jquery/navigation/sidenav/</p>

