@font-face {
	font-family: 'vazir-regular-ui';
	src: url('../lib/Fonts/Vazir/UI/Vazir-Regular-UI.eot') format('embedded-opentype'), url('../lib/fonts/vazir/ui/vazir-regular-ui.ttf') format('truetype'), url('../lib/fonts/vazir/ui/vazir-regular-ui.woff') format('woff'), url('../lib/fonts/vazir/ui/vazir-regular-ui.woff2') format('woff2');
}

@font-face {
	font-family: 'vazir-medium-ui';
	src: url('../lib/fonts/vazir/ui/vazir-medium-ui.eot') format('embedded-opentype'), url('../lib/fonts/vazir/ui/vazir-medium-ui.ttf') format('truetype'), url('../lib/fonts/vazir/ui/vazir-medium-ui.woff') format('woff'), url('../lib/fonts/vazir/ui/vazir-medium-ui.woff2') format('woff2');
}

@font-face {
	font-family: 'vazir-light-ui';
	src: url('../lib/fonts/vazir/ui/vazir-light-ui.eot') format('embedded-opentype'), url('../lib/fonts/vazir/ui/vazir-light-ui.ttf') format('truetype'), url('../lib/fonts/vazir/ui/vazir-light-ui.woff') format('woff'), url('../lib/fonts/vazir/ui/vazir-light-ui.woff2') format('woff2');
}

@font-face {
	font-family: 'vazir-bold-ui';
	src: url('../lib/fonts/vazir/ui/vazir-bold-ui.eot') format('embedded-opentype'), url('../lib/fonts/vazir/ui/vazir-bold-ui.ttf') format('truetype'), url('../lib/fonts/vazir/ui/vazir-bold-ui.woff') format('woff'), url('../lib/fonts/vazir/ui/vazir-bold-ui.woff2') format('woff2');
}

@font-face {
	font-family: 'vazir-black-ui';
	src: url('../lib/fonts/vazir/ui/vazir-black-ui.eot') format('embedded-opentype'), url('../lib/fonts/vazir/ui/vazir-black-ui.ttf') format('truetype'), url('../lib/fonts/vazir/ui/vazir-black-ui.woff') format('woff'), url('../lib/fonts/vazir/ui/vazir-black-ui.woff2') format('woff2');
}

html, body {
	font-family: vazir-regular-ui;
}

#slide-out {
	font-family: vazir-bold-ui;
}
/*.rtl .md-form label {
	right: 0 !important;
	left: auto !important;
}
*/.mdb-autocomplete-clear {
	right: auto !important;
	left: 0 !important;
}
.mdb-autocomplete ~ label {
	width: unset;
}
.fa-angle-down {
	right: auto !important;
	left: 0 !important;
	margin-left: 1.25rem;
}

.notCollapsible {
	margin-left: 13px !important;
}


.side-nav2 ul {
	padding-inline-start: 0px;
}

.side-nav2 .collapsible-body a {
	padding-right: 47px;
}

a:hover {
	text-decoration: none;
}

#logo {
	padding-top: 1% !important;
	padding-bottom: 4% !important;
	padding-right: 10px !important;
	padding-left: 10px !important;
	width: 240px;
	height: 142px;
}
.side-nav2 .logo-wrapper {
	height: 135px;
}