body {
}

.rtl .md-form label {
	right: 0 !important;
	left: auto !important;
}

.fa-angle-down {
	right: auto !important;
	left: 0 !important;
	margin-left: 1.25rem;
}

.notCollapsible {
	margin-left: 13px !important;
}
