@model string


<style>
	.badge.badge-pill.bg-success {
		/*font-family: Bickham Script Two;*/
		font-family:P22ZanerOne;
		color: white;
	}
</style>

<h1><span class="badge badge-pill bg-success">@Model</span></h1>
